.done {
    text-decoration: line-through;
    
}

li div{
    cursor:pointer;
}

li span{
    cursor: pointer;
    
}
.fa-list-ol{
    font-size: 30px;
}
.fa-trash-alt{
    color:#B22222
}

.fa-check-square{
    color: #006600
}